Testing/Calc/calcImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IccCalcImport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Imports">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Import">
								<xs:complexType>
									<xs:attribute name="Filename" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SubElements">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MatrixElement">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MatrixData" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="InputChannels" type="xs:unsignedByte" use="required" />
									<xs:attribute name="OutputChannels" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Variables">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declare">
								<xs:complexType>
									<xs:attribute name="Name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Macros">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Macro">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Name" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>